:root {
    
    --background-color: #f4f4f4;
    --text-color: #333;
    --header-background: #2babe2;
    --footer-background: #2babe2;
    --link-color: #1e90ff;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    margin: 0;
}

header {
    background-color: var(--header-background);
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

h2 {
    border-bottom: 2px solid var(--header-background);
}

footer {
    background-color: var(--footer-background);
    color: white;
    padding: 10px;
    text-align: center;
}

a {
    color: var(--link-color);
}

/* Este tema me encanta*/
.alt-theme {
    --background-color: #333;
    --text-color: #f4f4f4;
    --header-background: #6a5acd;
    --footer-background: #6a5acd;
    --link-color: #add8e6;
}
